<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation :">

	
	<test name="sampletestName"  >
	

		<classes>
  
	<class name="Scenarios.VerifyErrorMessages" />
	<class name="Scenarios.CreateAnAccount" />
	


  
		  
		</classes>
		
		
	</test> <!-- sampletestName -->
</suite> <!-- Automation : -->
